name: N2A - Build and Push

env:
    # Azure ACR
    ACR_HOST: ${{ vars.REGISTRY_LOGIN_SERVER_PROD }}
    ACR_USER: ${{ secrets.REGISTRY_USERNAME_PROD }}
    ACR_PASS: ${{ secrets.REGISTRY_PASSWORD_PROD }}

on:
  # Automated deploy on push to main branch
  push:
    branches:
      - main
  # Manual trigger
  workflow_dispatch:
      inputs:
          build_rag_api_image:
            description: 'Build RAG API Docker Image'
            required: true
            default: true
            type: boolean
          branch:
            description: 'Branch to build'
            required: true
            default: ''
            type: string

permissions:
  id-token: write

jobs:
    build_and_push:
        runs-on: paychex-ai-platform-arc-nonprod
        steps:
            - uses: actions/checkout@v3
              with:
                fetch-depth: 0 # fetch all branches and tags
                ref: ${{ github.event.inputs.branch || github.ref }}

            - name: Get commit SHA
              id: commit_sha
              run: echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

            - name: Create Config File
              run: |
                touch librechat.yaml && chmod 755 librechat.yaml |
                cat librechat.n2a.yml >> librechat.yaml |
                rm -rf .dockerignore |
                touch .dockerignore && chmod 755 .dockerignore |
                cat .paychex.dockerignore >> .dockerignore

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: log in to ACR
              uses: azure/docker-login@v1
              with:
                login-server: ${{ env.ACR_HOST }}
                username: ${{ env.ACR_USER }}
                password: ${{ env.ACR_PASS }}

            - name: Build and push docker container with caching
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: |
                  ${{ env.ACR_HOST }}/paychex/librechat:n2a.${{ env.COMMIT_SHA }}
                  ${{ env.ACR_HOST }}/paychex/librechat:n2a.latest
                cache-from: type=registry,ref=${{ env.ACR_HOST }}/paychex/librechat:n2a-cache
                cache-to: type=registry,ref=${{ env.ACR_HOST }}/paychex/librechat:n2a-cache,mode=max

            - name: Trigger rag_api Workflow
              if: ${{ github.event.inputs.build_rag_api_image != 'false' }}
              uses: BeewiseTechnologiesLTD/remote-workflow-trigger@v1
              with:
                target_repo: 'paychex/rag_api'
                workflow_id: '.github/workflows/n2-build-and-push.yml'
                github_token: ${{ secrets.CROSS_REPO_PAT }}
                ref: 'main'

            - name: Update librechat image in YAML
              uses: mikefarah/yq@master
              with:
                cmd: yq -i '.properties.template.containers[] |= select(.name == "conpaichat").image = "${{ env.ACR_HOST }}/paychex/librechat:n2a.${{ env.COMMIT_SHA }}"' az_container_app_definitions/n2a_container_app_definition.yml
                    
            - name: Azure CLI script
              uses: azure/cli@v2
              with:
                  inlineScript: |
                    az login --service-principal -u ${{secrets.ARC_RUNNER_SP_CLIENT_ID_NONPROD}} -p ${{secrets.ARC_RUNNER_SP_CLIENT_SECRET_NONPROD}} --tenant ${{secrets.AZURE_TENANT_ID}}
                    az account set --subscription "${{ secrets.AZURE_NONPROD_SUBSCRIPTION_ID }}"
                    az containerapp create \
                      --name conpaichateastusn2a001 \
                      --resource-group rg-playai-eastus-n2a-001 \
                      --yaml $GITHUB_WORKSPACE/az_container_app_definitions/n2a_container_app_definition.yml
